{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="container login-container">
        <div class="row">
            <div class="offset-md-3 col-md-6 login-form-1">
                <h3>Welcome, please login</h3>
                <form id="loginForm">
                    <div class="form-group">
                        <input type="text" id="email" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" placeholder="Your Password *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="register/" class="ForgetPwd">No account? Register here</a>
                    </div>
                    <div class="form-group">
                        <p id="login-error" class="login-error"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}